## Load title.akas.tsv

In [1]:
import pandas as pd

In [2]:
akas_df = pd.read_csv("https://datasets.imdbws.com/title.akas.tsv.gz", sep="\t", dtype={'isOriginalTitle': str})

In [4]:
akas_df.head(10)

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0
5,tt0000001,6,Carmencita,US,\N,imdbDisplay,\N,0
6,tt0000001,7,Carmencita,\N,\N,original,\N,1
7,tt0000001,8,カルメンチータ,JP,ja,imdbDisplay,\N,0
8,tt0000002,1,Le clown et ses chiens,\N,\N,original,\N,1
9,tt0000002,2,Le clown et ses chiens,FR,\N,imdbDisplay,\N,0

In [3]:
akas_df.tail(10)

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
29520564,tt9916850,7,Folge #3.19,DE,de,\N,\N,0
29520565,tt9916852,1,Episodio #3.20,ES,es,\N,\N,0
29520566,tt9916852,2,Épisode #3.20,FR,fr,\N,\N,0
29520567,tt9916852,3,Folge #3.20,DE,de,\N,\N,0
29520568,tt9916852,4,エピソード #3.20,JP,ja,\N,\N,0
29520569,tt9916852,5,Episódio #3.20,PT,pt,\N,\N,0
29520570,tt9916852,6,Episodio #3.20,IT,it,\N,\N,0
29520571,tt9916852,7,एपिसोड #3.20,IN,hi,\N,\N,0
29520572,tt9916856,1,The Wind,DE,\N,imdbDisplay,\N,0
29520573,tt9916856,2,The Wind,\N,\N,original,\N,1