## Load title.basics.tsv

In [11]:
import pandas as pd
import numpy as np

In [2]:
basics_df = pd.read_csv("https://datasets.imdbws.com/title.basics.tsv.gz", sep="\t", low_memory=False)

In [3]:
basics_df.head(10)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"
5,tt0000006,short,Chinese Opium Den,Chinese Opium Den,0,1894,\N,1,Short
6,tt0000007,short,Corbett and Courtney Before the Kinetograph,Corbett and Courtney Before the Kinetograph,0,1894,\N,1,"Short,Sport"
7,tt0000008,short,Edison Kinetoscopic Record of a Sneeze,Edison Kinetoscopic Record of a Sneeze,0,1894,\N,1,"Documentary,Short"
8,tt0000009,short,Miss Jerry,Miss Jerry,0,1894,\N,40,"Romance,Short"
9,tt0000010,short,Leaving the Factory,La sortie de l'usine Lumière à Lyon,0,1895,\N,1,"Documentary,Short"

In [4]:
basics_df.tail(10)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
8325123,tt9916838,tvEpisode,Episode #3.13,Episode #3.13,0,2010,\N,\N,"Action,Drama,Family"
8325124,tt9916840,tvEpisode,Horrid Henry's Comic Caper,Horrid Henry's Comic Caper,0,2014,\N,11,"Adventure,Animation,Comedy"
8325125,tt9916842,tvEpisode,Episode #3.16,Episode #3.16,0,2010,\N,\N,"Action,Drama,Family"
8325126,tt9916844,tvEpisode,Episode #3.15,Episode #3.15,0,2010,\N,\N,"Action,Drama,Family"
8325127,tt9916846,tvEpisode,Episode #3.18,Episode #3.18,0,2010,\N,\N,"Action,Drama,Family"
8325128,tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0,2010,\N,\N,"Action,Drama,Family"
8325129,tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0,2010,\N,\N,"Action,Drama,Family"
8325130,tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0,2010,\N,\N,"Action,Drama,Family"
8325131,tt9916856,short,The Wind,The Wind,0,2015,\N,27,Short
8325132,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014,\N,10,"Adventure,Animation,Comedy"

In [5]:
basics_df['titleType'].value_counts()

tvEpisode       6107409
short            837039
movie            591672
video            325685
tvSeries         215253
tvMovie          133375
tvMiniSeries      40282
tvSpecial         34549
videoGame         29524
tvShort           10342
tvPilot               2
radioEpisode          1
Name: titleType, dtype: int64

In [6]:
basics_df[basics_df['titleType'] == 'video'].tail(20)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
8324534,tt9915568,video,Herbal Medicine Commercial: Jie Yu Wan,Herbal Medicine Commercial: Jie Yu Wan,0,2019,\N,1,Short
8324556,tt9915614,video,Kid Ink Feat. Ty Dolla $ign: F With U,Kid Ink Feat. Ty Dolla $ign: F With U,0,2017,\N,3,"Music,Short"
8324576,tt9915654,video,Olivia O'Brien: RIP,Olivia O'Brien: RIP,0,2017,\N,4,"Music,Short"
8324581,tt9915664,video,Ananya Birla: Hold On,Ananya Birla: Hold On,0,2018,\N,4,"Music,Short"
8324584,tt9915672,video,The Breakup Season 1,The Breakup Season 1,0,2016,\N,30,"Drama,Short"
8324585,tt9915674,video,"Tyler, the Creator Feat. Kali Uchis: See You A...","Tyler, the Creator Feat. Kali Uchis: See You A...",0,2018,\N,\N,"Music,Short"
8324587,tt9915678,video,Yhung T.O.: Misunderstood,Yhung T.O.: Misunderstood,0,2018,\N,\N,"Music,Short"
8324599,tt9915704,video,Plauen unterm Hakenkreuz Teil 2,Plauen unterm Hakenkreuz Teil 2,0,2016,\N,\N,"Documentary,Short"
8324602,tt9915710,video,Sodomizer 5,Sodomizer 5,1,1996,\N,85,Adult
8324604,tt9915716,video,Ari B: Under the Mistletoe,Ari B: Under the Mistletoe,0,2018,\N,\N,"Music,Short"
8324606,tt9915722,video,Plauen 1945 - 46 Aufbruch aus Trümmern,Plauen 1945 - 46 Aufbruch aus Trümmern,0,2016,\N,\N,"Documentary,Short"
8324627,tt9915766,video,Summer Walker: Clear,Summer Walker: Clear,0,2019,\N,12,"Music,Short"
8324713,tt9915980,video,Burning the clutch,Burning the clutch,0,2016,\N,5,"Music,Short"
8324750,tt9916056,video,Dave Rubin Destroys Tim Pool with Logic and Facts,Dave Rubin Destroys Tim Pool with Logic and Facts,0,2019,\N,30,"News,Short"
8324843,tt9916254,video,Big Tit Cream Pie 32,Big Tit Cream Pie 32,1,2015,\N,226,Adult
8324860,tt9916288,video,Rockpaint II,Rockpaint II,0,2019,\N,\N,"Animation,Comedy,Sci-Fi"
8324889,tt9916348,video,Ancient World Exposed,Ancient World Exposed,0,2019,\N,67,History
8324923,tt9916416,video,We Could Be Strangers,We Could Be Strangers,0,2017,\N,7,"Music,Short"
8324959,tt9916492,video,Quincy Jones: You Put a Move on My Heart,Quincy Jones: You Put a Move on My Heart,0,1995,\N,4,"Music,Short"
8325074,tt9916734,video,Manca: Peleo,Manca: Peleo,0,2018,\N,\N,"Music,Short"

In [7]:
basics_df_not_adult = basics_df[basics_df['isAdult'] == '0']

In [8]:
basics_df_not_adult_not_short = basics_df_not_adult[basics_df_not_adult['titleType'] != 'short']

In [9]:
basics_df_episodes = basics_df_not_adult_not_short[basics_df_not_adult_not_short['titleType'] == 'tvEpisode']
basics_df_no_episodes = basics_df_not_adult_not_short[basics_df_not_adult_not_short['titleType'] != 'tvEpisode']

In [10]:
basics_df_no_episodes.shape

(1276422, 9)

In [12]:
basics_df_no_episodes.replace('\\N', np.nan)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
498,tt0000502,movie,Bohemios,Bohemios,0,1905,NaN,100,NaN
570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,NaN,70,"Action,Adventure,Biography"
587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,NaN,90,Drama
610,tt0000615,movie,Robbery Under Arms,Robbery Under Arms,0,1907,NaN,NaN,Drama
625,tt0000630,movie,Hamlet,Amleto,0,1908,NaN,NaN,Drama
...,...,...,...,...,...,...,...,...,...
8325054,tt9916692,tvMovie,Teatroteka: Czlowiek bez twarzy,Teatroteka: Czlowiek bez twarzy,0,2015,NaN,66,Drama
8325061,tt9916706,movie,Dankyavar Danka,Dankyavar Danka,0,2013,NaN,NaN,Comedy
8325072,tt9916730,movie,6 Gunn,6 Gunn,0,2017,NaN,116,NaN
8325074,tt9916734,video,Manca: Peleo,Manca: Peleo,0,2018,NaN,NaN,"Music,Short"
8325083,tt9916754,movie,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,0,2013,NaN,49,Documentary