## Load title.ratings.tsv

In [1]:
import pandas as pd
import numpy as np

In [2]:
ratings_df = pd.read_csv("https://datasets.imdbws.com/title.ratings.tsv.gz", sep="\t")

In [3]:
ratings_df.head(10)

      tconst  averageRating  numVotes
0  tt0000001            5.7      1827
1  tt0000002            6.0       234
2  tt0000003            6.5      1584
3  tt0000004            6.1       152
4  tt0000005            6.2      2404
5  tt0000006            5.2       157
6  tt0000007            5.4       752
7  tt0000008            5.5      1980
8  tt0000009            5.9       190
9  tt0000010            6.9      6589

In [4]:
ratings_df.tail(10)

            tconst  averageRating  numVotes
1196003  tt9916544            7.1        44
1196004  tt9916576            6.3        14
1196005  tt9916578            7.8        38
1196006  tt9916580            7.7         6
1196007  tt9916628            8.6         5
1196008  tt9916682            5.6         5
1196009  tt9916690            6.6         5
1196010  tt9916720            5.3       143
1196011  tt9916766            7.1        17
1196012  tt9916778            7.5        31