## Load title.ratings.tsv

In [1]:
import pandas as pd
import numpy as np

In [2]:
ratings_df = pd.read_csv("https://datasets.imdbws.com/title.ratings.tsv.gz", sep="\t")

In [3]:
ratings_df.head(10)

      tconst  averageRating  numVotes
0  tt0000001            5.7      1826
1  tt0000002            6.0       234
2  tt0000003            6.5      1583
3  tt0000004            6.1       152
4  tt0000005            6.2      2405
5  tt0000006            5.2       157
6  tt0000007            5.4       751
7  tt0000008            5.5      1979
8  tt0000009            5.9       190
9  tt0000010            6.9      6582

In [4]:
ratings_df.tail(10)

            tconst  averageRating  numVotes
1195675  tt9916544            7.1        44
1195676  tt9916576            6.3        14
1195677  tt9916578            7.8        37
1195678  tt9916580            7.7         6
1195679  tt9916628            8.6         5
1195680  tt9916682            5.6         5
1195681  tt9916690            6.6         5
1195682  tt9916720            5.3       141
1195683  tt9916766            7.1        17
1195684  tt9916778            7.5        31