## Load csv into notebooks

In [1]:
import pandas as pd

In [21]:
akas_df = pd.read_csv("https://datasets.imdbws.com/title.akas.tsv.gz", sep="\t", dtype={'isOriginalTitle': str})

In [3]:
akas_df.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0

In [23]:
type(akas_df.loc[2]['isOriginalTitle'])

str

In [4]:
name_df = pd.read_csv("https://datasets.imdbws.com/name.basics.tsv.gz", sep="\t")

In [5]:
name_df.head()

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"soundtrack,actor,miscellaneous","tt0053137,tt0031983,tt0072308,tt0050419"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack","tt0117057,tt0071877,tt0038355,tt0037382"
2,nm0000003,Brigitte Bardot,1934,\N,"actress,soundtrack,music_department","tt0057345,tt0056404,tt0054452,tt0049189"
3,nm0000004,John Belushi,1949,1982,"actor,soundtrack,writer","tt0077975,tt0072562,tt0078723,tt0080455"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0083922,tt0050976,tt0050986,tt0060827"

In [22]:
basics_df = pd.read_csv("https://datasets.imdbws.com/title.basics.tsv.gz", sep="\t", low_memory=False)

C:\Users\Guillaume\anaconda3\envs\Movies_Project_Wild\lib\site-packages\IPython\core\interactiveshell.py:3441: DtypeWarning: Columns (4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [7]:
basics_df.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [8]:
crew_df = pd.read_csv("https://datasets.imdbws.com/title.crew.tsv.gz", sep="\t")

In [9]:
crew_df.head()

      tconst  directors writers
0  tt0000001  nm0005690      \N
1  tt0000002  nm0721526      \N
2  tt0000003  nm0721526      \N
3  tt0000004  nm0721526      \N
4  tt0000005  nm0005690      \N

In [10]:
episodes_df = pd.read_csv("https://datasets.imdbws.com/title.episode.tsv.gz", sep="\t")

In [11]:
episodes_df.head()

      tconst parentTconst seasonNumber episodeNumber
0  tt0020666   tt15180956            1             2
1  tt0020829   tt15180956            1             1
2  tt0021166   tt15180956            1             3
3  tt0021612   tt15180956            2             2
4  tt0021655   tt15180956            2             5

In [12]:
principals_df = pd.read_csv("https://datasets.imdbws.com/title.principals.tsv.gz", sep="\t")

In [13]:
principals_df.head()

,tconst,ordering,nconst,category,job,characters
0,tt0000001,1,nm1588970,self,\N,"[""Self""]"
1,tt0000001,2,nm0005690,director,\N,\N
2,tt0000001,3,nm0374658,cinematographer,director of photography,\N
3,tt0000002,1,nm0721526,director,\N,\N
4,tt0000002,2,nm1335271,composer,\N,\N

In [14]:
ratings_df = pd.read_csv("https://datasets.imdbws.com/title.ratings.tsv.gz", sep="\t")

In [15]:
ratings_df.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1826
1  tt0000002            6.0       234
2  tt0000003            6.5      1583
3  tt0000004            6.1       152
4  tt0000005            6.2      2405

In [3]:
chunksize = 100000
with pd.read_csv("https://datasets.imdbws.com/title.ratings.tsv.gz", sep="\t", chunksize=chunksize) as ratings_df_chunked:
    for chunk in ratings_df_chunked:
        print(chunk.shape)

(100000, 3)
(100000, 3)
(100000, 3)
(100000, 3)
(100000, 3)
(100000, 3)
(100000, 3)
(100000, 3)
(100000, 3)
(100000, 3)
(100000, 3)
(95685, 3)

In [4]:
with pd.read_csv("https://datasets.imdbws.com/title.ratings.tsv.gz", sep="\t", chunksize=chunksize) as ratings_df_chunked:
    full_ratings_df = pd.DataFrame
    chunk_list = []
    for chunk in ratings_df_chunked:
        chunk = chunk[chunk['averageRating'] >= 7.0]
        print(chunk.shape)
        chunk_list.append(chunk)
        full_ratings_df = pd.concat(chunk_list)

(25834, 3)
(33972, 3)
(54661, 3)
(74060, 3)
(59745, 3)
(59232, 3)
(60114, 3)
(55881, 3)
(58006, 3)
(61216, 3)
(59580, 3)
(57731, 3)