In [190]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.neighbors import NearestNeighbors
from sklearn.cluster import KMeans
from sklearn import metrics
from sklearn.metrics  import silhouette_score
from scipy.spatial.distance import cdist
import plotly.express as px
from plotly.subplots import make_subplots
import plotly.graph_objects as go

In [191]:
movie_for_ml = pd.read_csv('data/movies_for_ml.csv.zip')

In [193]:
cols = movie_for_ml.columns[2:]
X = movie_for_ml[cols]

scaler = StandardScaler().fit(X)
X_scaled = scaler.transform(X)

In [194]:
movie_scaled = pd.DataFrame()

movie_scaled['tconst']=movie_for_ml['tconst']
movie_scaled['originalTitle']=movie_for_ml['originalTitle']

scaled_df = pd.DataFrame(X_scaled,columns=cols)

movie_scaled_concat = pd.concat([movie_scaled,scaled_df],axis=1)

In [200]:
cols = movie_scaled_concat.columns[2:]
X = movie_scaled_concat[cols]

modelKM = KMeans(n_clusters=20).fit(X)

movie_scaled_concat['cluster']=modelKM.labels_

In [228]:
film = movie_scaled_concat[movie_scaled_concat['originalTitle']=='The Black Room']
n_cluster = movie_scaled_concat['cluster'][movie_scaled_concat['originalTitle']=='The Black Room'].values
df_for_KNN=movie_scaled_concat[movie_scaled_concat['cluster']==n_cluster[0]]

In [221]:
cols = movie_scaled_concat.columns[2:-1]
X = df_for_KNN[cols]

distanceKNN = NearestNeighbors(n_neighbors=10).fit(X)

In [223]:
list_film = distanceKNN.kneighbors(film[cols].values)
items = list_film[1].reshape(1,10)[0]

In [229]:
suggestion = movie_for_ml.iloc[items]
suggestion

,tconst,originalTitle,startYear,nm0000005,nm0000008,nm0000019,nm0000033,nm0000036,nm0000037,nm0000040,...,Music,Musical,Mystery,News,Romance,Sci-Fi,Sport,Thriller,War,Western
277,tt0025318,It's a Gift,1934,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
648,tt0035753,Le corbeau,1943,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
646,tt0035664,Bataan,1943,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
616,tt0034965,"Larceny, Inc",1942,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
647,tt0035703,Cabin in the Sky,1943,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
700,tt0037077,The Miracle of Morgan's Creek,1943,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
673,tt0036506,Vredens dag,1943,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
490,tt0031951,Son of Frankenstein,1939,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
879,tt0040416,Hamlet,1948,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1364,tt0049470,The Man Who Knew Too Much,1956,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0