In [1]:
import pandas as pd
import numpy as np

In [2]:
name_df = pd.read_csv("https://datasets.imdbws.com/name.basics.tsv.gz", sep="\t")

In [3]:
principals_df = pd.read_csv("https://datasets.imdbws.com/title.principals.tsv.gz", sep="\t")

In [4]:
df_actors = principals_df.loc[(principals_df['category']=='actor')|(principals_df['category']=='actress')]

In [5]:
df_actors

,tconst,ordering,nconst,category,job,characters
11,tt0000005,1,nm0443482,actor,\N,"[""Blacksmith""]"
12,tt0000005,2,nm0653042,actor,\N,"[""Assistant""]"
16,tt0000007,1,nm0179163,actor,\N,\N
17,tt0000007,2,nm0183947,actor,\N,\N
21,tt0000008,1,nm0653028,actor,\N,"[""Sneezing Man""]"
...,...,...,...,...,...,...
47460925,tt9916856,4,nm10538647,actress,\N,"[""Kathi""]"
47460930,tt9916880,1,nm1483166,actor,\N,"[""Rude Ralph"",""Mischievous Mike"",""Jolly Josh""]"
47460931,tt9916880,2,nm0254176,actress,\N,"[""Moody Margaret""]"
47460932,tt9916880,3,nm0286175,actor,\N,"[""Dad"",""Aerobic Al"",""Nasty Nicola""]"
47460933,tt9916880,4,nm10535738,actress,\N,"[""Horrid Henry""]"

In [6]:
list_actors = pd.merge(df_actors,name_df,how='inner')

In [7]:
list_actors['primaryName'].value_counts()

Sameera Sherief        10126
Delhi Kumar             7834
Subhalekha Sudhakar     7146
Neha Gowda              6213
Sudha Chandran          5877
                       ...
Go Smoke Mary              1
Jon Niccum                 1
Craig Cove                 1
Kayra Pitts                1
Andreas Demmel             1
Name: primaryName, Length: 1948548, dtype: int64

In [8]:
movie_genre_df = pd.read_csv("https://datasets.imdbws.com/title.basics.tsv.gz", sep="\t",low_memory=False,usecols=['tconst', 'titleType', 'isAdult', 'runtimeMinutes'])[['tconst', 'titleType', 'isAdult', 'runtimeMinutes']]

In [12]:
actors_titleType = pd.merge(list_actors,movie_genre_df,how='inner')

In [16]:
actors_serie = actors_titleType.loc[actors_titleType['titleType']=='tvSeries']

In [17]:
actors_movies = actors_titleType.loc[actors_titleType['titleType']=='movie']

In [20]:
actors_movies['primaryName'].value_counts()

Brahmanandam        798
Adoor Bhasi         580
Matsunosuke Onoe    563
Eddie Garcia        509
Sultan Rahi         471
                   ...
Ralph Clemente        1
Pilvi Hämäläinen      1
Alf Myreen            1
Chris Myland          1
Andree Steinke        1
Name: primaryName, Length: 621321, dtype: int64

In [21]:
actors_serie['primaryName'].value_counts()

Frank Welker                  159
Luci Christian                130
Monica Rial                   129
Don Messick                   107
Taissia Shanti                101
                             ...
Khoren Levonyan                 1
Anna Yegoyan                    1
David Yow                       1
Jerry Esten                     1
Ingrid Langeland Olderbakk      1
Name: primaryName, Length: 381316, dtype: int64