In [1]:
import pandas as pd
import numpy as np

In [2]:
name_df = pd.read_csv("https://datasets.imdbws.com/name.basics.tsv.gz", sep="\t")

In [3]:
principals_df = pd.read_csv("https://datasets.imdbws.com/title.principals.tsv.gz", sep="\t")

In [4]:
df_actors = principals_df.loc[(principals_df['category']=='actor')|(principals_df['category']=='actress')]

In [5]:
df_actors

,tconst,ordering,nconst,category,job,characters
11,tt0000005,1,nm0443482,actor,\N,"[""Blacksmith""]"
12,tt0000005,2,nm0653042,actor,\N,"[""Assistant""]"
16,tt0000007,1,nm0179163,actor,\N,\N
17,tt0000007,2,nm0183947,actor,\N,\N
21,tt0000008,1,nm0653028,actor,\N,"[""Sneezing Man""]"
...,...,...,...,...,...,...
47350573,tt9916856,4,nm10538647,actress,\N,"[""Kathi""]"
47350578,tt9916880,1,nm1483166,actor,\N,"[""Rude Ralph"",""Mischievous Mike"",""Jolly Josh""]"
47350579,tt9916880,2,nm0254176,actress,\N,"[""Moody Margaret""]"
47350580,tt9916880,3,nm0286175,actor,\N,"[""Dad"",""Aerobic Al"",""Nasty Nicola""]"
47350581,tt9916880,4,nm10535738,actress,\N,"[""Horrid Henry""]"

In [25]:
list_actors = pd.merge(df_actors,name_df,how='inner')

In [31]:
list_actors['primaryName'].value_counts()

Sameera Sherief        10126
Delhi Kumar             7834
Subhalekha Sudhakar     7146
Neha Gowda              6213
Sudha Chandran          5878
                       ...
Timothy Brick              1
Leroy Ruglass              1
Derek Hendricks            1
Mirella Pantano            1
Andreas Demmel             1
Name: primaryName, Length: 1946264, dtype: int64

In [33]:
movie_genre_df = pd.read_csv("https://datasets.imdbws.com/title.basics.tsv.gz", sep="\t",low_memory=False,usecols=['tconst', 'titleType', 'isAdult', 'runtimeMinutes'])[['tconst', 'titleType', 'isAdult', 'runtimeMinutes']]

            tconst  titleType isAdult runtimeMinutes
0        tt0000001      short       0              1
1        tt0000002      short       0              5
2        tt0000003      short       0              4
3        tt0000004      short       0             12
4        tt0000005      short       0              1
...            ...        ...     ...            ...
8348863  tt9916848  tvEpisode       0             \N
8348864  tt9916850  tvEpisode       0             \N
8348865  tt9916852  tvEpisode       0             \N
8348866  tt9916856      short       0             27
8348867  tt9916880  tvEpisode       0             10

[8348868 rows x 4 columns]

66.70138888888889