In [1]:
import pandas as pd
import numpy as np
import plotly.express as px 
import plotly.graph_objects as go 
import matplotlib.pyplot as plt
import seaborn as sns

#  Quels sont les pays qui produisent le plus de films ?

In [5]:
#APPEL DU DATASET

df_titles = pd.read_csv('https://datasets.imdbws.com/title.akas.tsv.gz', sep = '\t', low_memory=False)

In [7]:
df_titles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29678671 entries, 0 to 29678670
Data columns (total 8 columns):
 #   Column           Dtype
---  ------           -----
 0   titleId          object
 1   ordering         int64
 2   title            object
 3   region           object
 4   language         object
 5   types            object
 6   attributes       object
 7   isOriginalTitle  object
dtypes: int64(1), object(7)
memory usage: 1.8+ GB

In [12]:
#count value for each region in dataset

best_region_df = pd.DataFrame(df_titles['region'].value_counts().sort_values().nlargest(10)) #les 10 pays qui ont le plus de titres enregistr√©s

In [20]:
#index to column - EXECUTE ONE TIME

#best_region_df.reset_index(inplace=True)

In [25]:
#rename colums - EXECUTE ONE TIME


#best_region_df.rename(columns={'index': 'PAYS', 'region':'NOMBRE DE FILMS'}, inplace=True)

In [27]:
best_region_df

  PAYS  NOMBRE DE FILMS
0   FR          3498981
1   JP          3493692
2   DE          3456215
3   ES          3424266
4   IN          3417672
5   IT          3406032
6   PT          3347096
7   \N          1941960
8   US          1305348
9   GB           406277